<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Sistema de Vendas </title>
</head>
<body>
	{%if user.is_authenticated %}
		<a href="{% url 'sisevento:atividade' %}"> Criar Atividade </a>
		<a href="{% url 'sisevento:veratividade' %}"> Ver Atividade </a>
		<a href="{% url 'sisevento:eventos' %}"> Criar Eventos </a>
		<a href="{% url 'sisevento:listareventos' %}"> Listar Eventos </a>
		<a href="{% url 'sisevento:logout' %}"> Sair </a>
	{% else %}
		<a href="{% url 'sisevento:home' %}"> Home </a>
		<a href="{% url 'sisevento:cadastro' %}"> Cadastro </a>
		<a href="{% url 'sisevento:login' %}"> Login </a>
	{%endif%}

</body>
</html>